<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login In</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Login In</h1>
        <br>
        <br>
        <form action="/login" method="post" role="form" autocomplete="off">
            <input type="email" name="username" id="username" placeholder="email" class="form-control" required>
            <input type="password" name="password" id="password" placeholder="password" class="form-control" required>
            <input type="submit" value="Login in">
        </form>
        <hr>
        <button onclick="location.href='/register'">Go to register</button>
    </div>
</body>
</html>